<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bună ziua!</h1>
    <p>
      Vă mulțumim pentru interesul arătat.
    </p>
    <p>
      În PDF-ul atașat găsiți informații despre activitatea parlamentarilor din circumscripția electorală pe care ați ales-o.
    </p>
    
    <p>Vă mulțumim, cele bune!</p>
  </body>
</html>